/*
Set board div's size, background-color, display, rows & cols
*/

/* body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

#frame {
  height: 510px;
  width: 450;
  background-color: orange;
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 50px 450px;
  gap: 10px;
  padding: 10px;
}

#buttonBar {
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#buttonBar div {
  box-sizing: border-box;
  height: 30px;
  width: 30px;
}

#wallButton {
  background-color: black;
}

#sourceButton {
  background-color: green;
}

#endButton {
  background-color: blue;
}

#runButton {
  background-color: purple;
}

#grid {
  background-color: grey;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 10px;
  gap: 5px;
}

#grid div {
  background-color: lightblue;
}

p {
  border: solid black 1px;
  width: 450;
  display: block;
}